.form {
	width: 100%;
	max-width: 700px;
	margin: 30px auto;
	padding: 20px;
	text-align: center;

	.formGaps {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.title {
		margin: 15px 0;
		font-size: 24px;
		font-weight: 700;
	}

	.errorMessage {
		color: var(--global-red);
		margin: 0 0 15px;
	}

	.formBody {
		display: flex;
		flex-direction: column;
		gap: 15px;

		input {
			width: 100%;
		}
	}

	> div {
		width: 100%;
	}

	.forgotBtn {
		display: flex;
		justify-content: flex-end;

		> button {
			font-size: 12px;
			font-weight: 700;
			color: var(--global-yellow-dark);
		}
	}

	.signInGoogle {
		background-color: var(--global-yellow-dark);
	}

	.resetBtn {
		width: 100%;
		margin: 5px 0 0;
	}
}
